/* Variables and resets */

:root {
    --lightblue: #4085e6;
    --darkblue: #1F2937;
    --lightgray: rgb(214, 214, 214);
    --gray: #333;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}
h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 32px 0;
}

/* Navbar */

.navbar {
    background-color: var(--darkblue);
    height: 56px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.nav-info {
    height: 56px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    display: flex;
    gap: 24px;
    font-size: 14px;
    color: var(--lightgray);
}

.navlinks li a {
    text-decoration: none;
    color: var(--lightgray);
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

/* Main banner */

.banner {
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #1F2937, #49586d)
}

.banner-main {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info {
    width: 380px;
}

.banner-info h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
}
.banner-info p {
    color: var(--lightgray);
    font-size: 16px;
    margin-bottom: 16px;
}
.banner-info button {
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--lightblue);
    border-radius: 10px;
    border: none;
    color: white;
}

.banner img {
    width: 360px;
    height: auto;
}

/* Information Cards */

.info-section {
    display: flex;
    justify-content: center;
}

.info-cards {
    text-align: center;
    width: 800px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.cards figure {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.image-card {
    border: 3px solid var(--darkblue);
    width: 200px;
    height: 200px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center;
}

.cards figure p {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 32px;
}

.image-card.frida {
    background-image: url(images/WhatsApp\ Image\ 2022-05-18\ at\ 12.57.31.jpeg);
    background-size: auto 200px;
}
.image-card.maizena {
    background-image: url(images/WhatsApp\ Image\ 2022-05-08\ at\ 12.17.56.jpeg);
    background-size: auto 200px;
}
.image-card.tomilho {
    background-image: url(images/WhatsApp\ Image\ 2022-04-06\ at\ 06.01.30.jpeg);
    background-size: 200px auto;
}

/* Inspirational Quote section */

.quote {
    background-color: var(--lightgray);
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote div {
    width: 800px;
}

.quote div p {
    font-size: 22px;
    font-style: italic;
    text-align: justify;
    margin-bottom: 16px;
}
.quote div h6 {
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
